# Python bytecode
__pycache__/
*.py[cod]

# SQLite DB
*.sqlite3

# Django migrations
migrations/

# VSCode settings (if using VSCode)
.vscode/

# Env files
.env
# Virtual environment
.venv/
kousu_management_app/settings.py

# Static files 
static/
staticfiles/
